<html>

<head>
  <title>Prasanna Signin!</title>
  <script src="https://apis.google.com/js/platform.js" defer></script>
  <script src="/js/login-script.js" defer></script>
</head>

<body>
  <h1>SignIn Using OAuth2.0</h1>
  <button id="login">Login</button>
  <button id="logout">Logout</button>
</body>

</html>